@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #FEFEDF;
}

body::-webkit-scrollbar-thumb {
    background-color: #F3C5FF;
}

td::-webkit-scrollbar {
    height: 4px;
    /* height of horizontal scrollbar ← You're missing this */
    width: 4px;
    /* width of vertical scrollbar */
    border: 1px solid #FEFEDF;
}

td::-webkit-scrollbar-track {
    background-color: #FEFEDF;
}

td::-webkit-scrollbar-thumb {
    background-color: #845EC2;
}
